<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="${veggie.veggieName}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <script src="veggie.js"></script>
</head>
<div class="bodyContainer" th:each="veggie: ${veggies}">
    <div th:replace="header"></div>

    <main>

      <div class="veggiesForTag">
        <div id= "veggieLinks" th:each="@{/tag(id=${tag.veggie.id">
          <img th:src="@{${veggie.imgUrl}}" />
          <h2 th:text = "${veggie.veggieName}"></h2>
        <p th:text="${veggie.text}"></p>
      </div>
      
     </div>
     <div id="recipeSubmission">
        </form>
      </div>
    </main>

    <div th:replace="footer"></div>
  </div>
</body>
</html>