*{
    box-sizing: border-box;
    font-size: 16px;
    color: var(--main);
    font-family: 'Corben', 'Cambria', 'Cochin', serif;
    margin:0px;
}

:root{
    --main: rgb(8, 32, 4);
    --accent1: rgb(36, 134, 23);
    --accent2: rgb(247, 233, 40);
    --headings: 'Josefin Slab', 'American Typewriter', serif;
}

.bodyContainer{
    display: block;
    max-width: 800px;
    width: 90%;
}


